{% load static %}

<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8">
        <title>Jeff Miiller, Web Developer</title>
        <link rel="stylesheet" href="{% static 'front_page/css/main.css' %}">
        <link href="https://fonts.googleapis.com/css?family=Lato:100,300,400&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>

    <body>

        <div class="space-background">
            <section id="cover-page" class="hero container">
                <div class="vertically-center">
                    <h2>Hi, I'm Jeff!</h2>
                    <p>I am a graduating UBC Computer Science and Philosophy student looking for full-time 2020 Web Development opportunities.</p>
                    <a class="btn btn-alt" href="https://github.com/jmiiller">Find Me On Github</a>
                </div>

            </section>
        </div>

        <div class="white-border-top">
            <header class="primary-header container group">
                <h1 class="logo">Jeff <br> Miiller</h1>
                <h3 class="tagline">Web Developer And Philosophy Nerd</h3>
                <nav class="nav primary-nav">
                    <a href="#about-me">About Me</a>
                </nav>
            </header>
        </div>

        <section id="about-me" class="row-alt">
            <div class="lead container">
                <h1 class="underline-red">About Me</h1>
            </div>
        </section>

        <section class="row">
            <div class="container">
                <p>
                    I’m a fifth-year computer science and philosophy student at the University of British Columbia with a passion for solving societal problems with technology. Supporting independent journalism via technology is one of my central concerns.
                </p>

                <p>
                    I love to solve problems, philosophical and technical ones alike, and excel in decomposing complex systems/problems into discrete, simple, and concise pieces.
                    I have strong technical abilities developed through my studies in Computer Science and sixteen months of professional software development experience.
                    I pair these technical skills with excellent written and verbal communication skills developed through my academic studies in Philosophy.
                </p>

                <p>
                    I have my sights set on a pursuing a career in Web Development. I am currently self-teaching myself in Python, Django, HTML, CSS, and JavaScript. React is next on my radar.
                    Along with this self-teaching, I bring experience building Continuous Integration and Continuous Delivery systems and software development in Java, HTML, and CSS.
                    I am hoping to leverage these skills to work on projects important for the progression of society and the well-being of others.
                </p>

            </div>
        </section>

        <footer class="primary-footer container">

            <div class="table">
                <ul class="horizontal-list">
                    <li>
                        <a target="_blank" rel="noopener noreferrer" href="https://github.com/jmiiller">
                            <i class="fa fa-github fa-2x" aria-hidden="true"></i>
                        </a>
                    </li>

                    <li>
                        <a target="_blank" rel="noopener noreferrer" href="https://www.linkedin.com/in/jeff-miiller/">
                            <i class="fa fa-linkedin fa-2x" aria-hidden="true"></i>
                        </a>
                    </li>

                    <li>
                        <a href="mailto:jeffrey.miiller@gmail.com">
                            <i class="fa fa-envelope-o fa-2x" aria-hidden="true"></i>
                        </a>
                    </li>

                </ul>
            </div>

        </footer>

    </body>

</html>
