{% load static %}

<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8">
        <title>Jeff Miiller</title>

        <link rel="stylesheet" href="{% static 'front_page/css/main.css' %}">
        <link href="https://fonts.googleapis.com/css?family=Lato:100,300,400&display=swap" rel="stylesheet">
        <script src="https://kit.fontawesome.com/c36b4dfd9f.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://cdn.rawgit.com/konpa/devicon/df6431e323547add1b4cf45992913f15286456d3/devicon.min.css">
        <script src="https://code.iconify.design/1/1.0.4/iconify.min.js"></script>
        <script src="https://unpkg.com/scrollreveal@4"></script>
        <script>
            ScrollReveal({ reset: true, delay: 250, distance: '25px', duration: 1000});
        </script>
        <script src="https://cdn.jsdelivr.net/npm/particles.js@2.0.0/particles.min.js"></script>
        <script type="text/javascript">
            particlesJS.load('particles-js', "{% static 'front_page/particlejs/particles.json' %}", function() {
                console.log('callback - particles.js config loaded');
            });
        </script>

    </head>

    <body>
        <div class="hero container">
            <div class="vertically-center">
                <section id="cover-page">
                    <h2>Jeff Miiller</h2>
                    <p>Aspiring
                        <span class="typer" id="intro" data-words="Software Engineer, Data Vizzer, Philosophy Geek"
                              data-colors="#ffffff"
                              data-delay="100"></span>
                        <span class="cursor" data-owner="intro"></span>
                        <script async src="https://unpkg.com/typer-dot-js@0.1.0/typer.js"></script>
                    </p>

                    <div class="table">
                        <ul class="horizontal-list">
                            <li>
                                <a target="_blank" rel="noopener noreferrer" href="https://github.com/jmiiller">
                                    <i class="fab fa-github fa-2x"></i>
                                </a>
                            </li>
                            <li>
                                <a target="_blank" rel="noopener noreferrer" href="https://www.linkedin.com/in/jeff-miiller/">
                                    <i class="fab fa-linkedin fa-2x"></i>
                                </a>
                            </li>
                            <li>
                                <a href="mailto:jeffrey.miiller@gmail.com">
                                    <i class="far fa-envelope fa-2x"></i>
                                </a>
                            </li>
                            <li>
                                <a target="_blank" rel="noopener noreferrer" href="https://codepen.io/jmiiller">
                                    <i class="fab fa-codepen fa-2x"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </section>
            </div>
            <div class="down-arrow">
                <i class="fas fa-angle-double-down fa-2x"></i>
            </div>
            <div id="particles-js"></div>
        </div>


        <header id="header" class="primary-header container group">
            <h1 class="logo">Jeff <br> Miiller</h1>
            <h3 class="tagline">Software Engineer</h3>
            <nav class="nav primary-nav">
                <a href="#about-me">About Me</a>
                <span> | </span>
                <a href="#my-skills">Technologies</a>
                <span> | </span>
                <a href="#learning-backlog">What's Next?</a>
                <span> | </span>
                <a href="#my-resume">My Resume</a>
            </nav>
        </header>

        <section id="about-me" class="container">
            <section class="row-alt">
                <div class="lead">
                    <h1>About Me</h1>
                </div>
            </section>

            <section class="row">
                <p>
                    Hello! I'm Jeff, an aspiring software engineer, data vizzer, and graduating University of British Columbia
                    Computer Science and Philosophy student currently based in Vancouver, Canada.
                </p>
                <hr>
                <p>
                    I have my sights set on becoming excellent in Full Stack Web Development. I am currently immersed in
                    learning the ins and outs of HTML5, CSS3, JavaScript, D3, Python, and Django. I also bring sixteen
                    months of prior software development experience, where I was involved with configuring Continuous
                    Integration and Continuous Delivery systems and building things with Java.
                </p>
                <hr>
                <p>
                    One thing of great importance to me is the ability to contribute to a product and organization whose
                    values align with my own and whose product is aimed at addressing meaningful issues in society.
                </p>
                <hr>
                <p>
                    One such value I hold is a commitment to the pursuit and preservation of truth, which I believe underlies a healthy society.
                    It is why I studied Philosophy, a discipline that holds the pursuit of truth through rigorous logical analysis and argument as its highest aim.
                    I believe free, independent journalism is essential to attaining that goal.
                </p>
                <hr>
                <p>
                    But it goes without saying that there are an expansive list of other meaningful issues in society, each
                    worthy of attention in their own right. We are all tied to the common project of creating and preserving
                    a free, democratic society that meets the needs of all. I want to do my part to fulfill that project.
                </p>
                <hr>
                <p>
                    I am currently on the hunt for full-time positions. My starting date is flexible.
                </p>
            </section>
        </section>

        <section id="my-skills" class="container">
            <section class="row-alt">
                <div class="lead">
                    <h1>Technologies I Have Worked With</h1>
                </div>
            </section>

            <section class="row">
                <div class="large-devicon">
                    <div class="col-1-6 icon-with-text">
                        <i class="devicon-python-plain"></i>
                        <span>Python</span>
                    </div><!--
                    --><div class="col-1-6 icon-with-text">
                        <i class="devicon-django-plain"></i>
                        <span>Django</span>
                    </div><!--
                    --><div class="col-1-6 icon-with-text">
                        <i class="devicon-html5-plain"></i>
                        <span>HTML5</span>
                    </div><!--
                    --><div class="col-1-6 icon-with-text">
                        <i class="devicon-css3-plain"></i>
                        <span>CSS3</span>
                    </div><!--
                    --><div class="col-1-6 icon-with-text">
                        <i class="devicon-javascript-plain"></i>
                        <span>JavaScript</span>
                    </div><!--
                    --><div class="col-1-6 icon-with-text">
                        <i class="devicon-d3js-plain"></i>
                        <span>D3</span>
                    </div>
                </div>
            </section>

            <section class="row">
                <div class="large-devicon">
                    <div class="col-1-6 icon-with-text">
                        <i class="devicon-java-plain"></i>
                        <span>Java</span>
                    </div><!--
                    --><div class="col-1-6 icon-with-text">
                        <i class="devicon-git-plain"></i>
                        <span>Git</span>
                    </div><!--
                    --><div class="col-1-6 icon-with-text">
                        <i class="devicon-travis-plain"></i>
                        <span>TravisCI</span>
                    </div><!--
                    --><div class="col-1-6 icon-with-text">
                        <i><span class="iconify" data-icon="mdi-language-haskell" data-inline="false"></span></i>
                        <span>Haskell</span>
                    </div><!--
                    --><div class="col-1-6 icon-with-text">
                        <i class="devicon-amazonwebservices-original"></i>
                        <span>Amazon Web Services</span>
                    </div><!--
                    --><div class="col-1-6 icon-with-text">
                        <i class="devicon-c-plain"></i>
                        <span>C</span>
                    </div>
                </div>
            </section>
        </section>

        <section id="learning-backlog" class="container">
            <section class="row-alt">
                <div class="lead">
                    <h1>What's Next?</h1>
                </div>
            </section>

            <section class="row large-devicon">
                <div class="col-1-3 icon-with-text">
                    <i class="devicon-react-original"></i>
                    <span>React</span>
                </div><!--
                --><div class="col-1-3 icon-with-text">
                    <i class="devicon-jquery-plain"></i>
                    <span>JQuery</span>
                </div><!--
                --><div class="col-1-3 icon-with-text">
                    <i class="devicon-bootstrap-plain"></i>
                    <span>Bootstrap</span>
                </div>
            </section>
        </section>

        <section id="my-resume" class="container">
            <section class="row-alt">
                <div class="lead">
                    <h1>My Resume</h1>
                </div>
            </section>

            <section class="row large-devicon">
                <div class="icon-with-text">
                    <a target="_blank" rel="noopener noreferrer" href="{% static 'front_page/resume/jeffmiiller.pdf' %}">
                        <i class="fas fa-file-download"></i>
                    </a>
                    <span>Resume</span>
                </div>
            </section>
        </section>

        <footer id="footer" class="primary-footer container">
            <div class="table">
                <ul class="horizontal-list">
                    <li>
                        <a target="_blank" rel="noopener noreferrer" href="https://github.com/jmiiller">
                            <i class="fab fa-github fa-2x"></i>
                        </a>
                    </li>
                    <li>
                        <a target="_blank" rel="noopener noreferrer" href="https://www.linkedin.com/in/jeff-miiller/">
                            <i class="fab fa-linkedin fa-2x"></i>
                        </a>
                    </li>
                    <li>
                        <a href="mailto:jeffrey.miiller@gmail.com">
                            <i class="far fa-envelope fa-2x"></i>
                        </a>
                    </li>
                    <li>
                        <a target="_blank" rel="noopener noreferrer" href="https://codepen.io/jmiiller">
                            <i class="fab fa-codepen fa-2x"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </footer>

        <script type="text/javascript">
            ScrollReveal().reveal("#cover-page", {origin: "left"});
            ScrollReveal().reveal(".down-arrow", {origin: "left"});
            ScrollReveal().reveal("#header", {origin: "right"});
            ScrollReveal().reveal("#about-me", {origin: "left"});
            ScrollReveal().reveal("#my-skills", {origin: "right"});
            ScrollReveal().reveal("#learning-backlog", {origin: "left"});
            ScrollReveal().reveal("#my-resume", {origin: "right"});
            ScrollReveal().reveal("#footer", {origin: "left"});
        </script>

    </body>
</html>
